# .env
KINETIC_PROJECT="your-gcp-project-id"
KINETIC_CLUSTER="kinetic-cluster"

#https://docs.cloud.google.com/tpu/docs/regions-zones#north-america
# KINETIC_ZONE="us-south1-a"
# TPU_TYPE="v5litepod-1"    
TPU_TYPE="v6e-8"
BUCKET_NAME="your-gcp-bucket-id"
TRAIN_DATA_PATH="lulc_samples/train"
VAL_DATA_PATH="lulc_samples/eval"
GOOGLE_APPLICATION_CREDENTIALS="./your_service_account.json"