# .env
KINETIC_PROJECT="your-gcp-project-id"
KINETIC_CLUSTER="kinetic-cluster"

#FOR TPU AVAILABILITY BY REGIONS AND ZONES = > https://docs.cloud.google.com/tpu/docs/regions-zones#north-america
KINETIC_ZONE="us-east1-d"

TPU_TYPE="v6e-8"
BUCKET_NAME="your-earth-engine-exports-bucket"
TRAIN_DATA_PATH="lulc_samples/train"
VAL_DATA_PATH="lulc_samples/eval"
GOOGLE_APPLICATION_CREDENTIALS="./your_service_ account.json"